n8n-chat-messages-workflow.json
{
  "name": "Welfare - Chat Messages",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welfare/chat-messages",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "notesInFlow": true,
      "notes": "Receives user_id, returns messages for that conversation"
    },
    {
      "parameters": {
        "query": "=SELECT id, message, sender_type, created_at\nFROM chat_conversations\nWHERE user_id = {{ $json.user_id }}\nORDER BY created_at ASC"
      },
      "name": "PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "postgresApi": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL Account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": []
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "Transforms data to {messages: [...]} format"
    },
    {
      "parameters": {
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.webhookResponse",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
