n8n-whatsapp-incoming-workflow.json
{
  "name": "Welfare - WhatsApp Incoming",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welfare/whatsapp-incoming",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Receives incoming WhatsApp messages"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "userPhone",
              "value": "={{ $json.from }}"
            },
            {
              "name": "messageText",
              "value": "={{ $json.body }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "Extracts WhatsApp fields: from, body, timestamp"
    },
    {
      "parameters": {
        "query": "=INSERT INTO chat_conversations (org_id, user_id, message, sender_type, created_at, source)\nSELECT 3, users.id, '{{ $json.messageText }}', 'user', \n       TO_TIMESTAMP({{ $json.timestamp }}), 'whatsapp'\nFROM users\nWHERE users.phone = '{{ $json.userPhone }}'\nRETURNING id;"
      },
      "name": "PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "postgresApi": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "PostgreSQL Account"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.webhookResponse",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
